

.markerBox {
  width: 6rem;
  height: 6rem;
  border: 5px solid white;
  cursor: pointer;
  position: relative;
  bottom: 4rem;
  background-repeat: no-repeat;
  background-size: cover;

}
  .triangle {
    width: 10px;
    height: 10px;
    background: transparent;
    position: absolute;
    bottom: -20px;
    left: calc((100% - 30px) / 2);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid white;

  }